<!--Ryan Clayson
 * NETD 3202 - Lab 5 Comm Activity
 * December 6, 2020
 * This ASP.NET Core application is designed to allow the user to enter an NBA Player and add it to a database
 * Added Login Functionality, Registration for new user
    * Purpose: Index showing current database
-->
@model IEnumerable<NETD3202_Lab5Communication_RyanClayson.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<div style="margin-left: 20%; margin-right: 10%;">
    <h1>NBA Player List</h1>
    <p>
        <a style="color: blue" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Year Drafted
                </th>
                <th>
                    Team Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.yearDrafted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.teamName)
                    </td>
                    <td>
                        <a style="color: blue" asp-action="Edit" asp-route-id="@item.playerID">Edit</a> |
                        <a style="color: blue" asp-action="Details" asp-route-id="@item.playerID">Details</a> |
                        <a style="color: blue" asp-action="Delete" asp-route-id="@item.playerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="lead" style="margin-left: 30%; margin-right: 0%;">
        <a asp-controller="PlayerDetails" asp-action="Index" class="btn btn-primary">Player Details List</a>
    </p>
</div>
