@model IEnumerable<NETD3202_Lab5Communication_RyanClayson.Models.PlayerDetails>

@{
    ViewData["Title"] = "Index";
}
<div style="margin-left: 20%; margin-right: 10%;">
    <h1>Players Details List</h1>
    <p>
        <a style="color: blue" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Player ID
                </th>
                <th>
                    Age
                </th>
                <th>
                    Height
                </th>
                <th>
                    Weight
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerAge)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerHeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.playerWeight)
                    </td>
                    <td>
                        <a style="color: blue" asp-action="Edit" asp-route-id="@item.playerID">Edit</a> |
                        <a style="color: blue" asp-action="Details" asp-route-id="@item.playerID">Details</a> |
                        <a style="color: blue" asp-action="Delete" asp-route-id="@item.playerID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="lead">
        <a asp-controller="Players" asp-action="Index" class="btn btn-primary">Player List</a>
    </p>
</div>
